 body {
  font: 13pt Lucida Sans Unicode; /* Шрифт на веб-странице */
  background: black;
  color: white;
  margin: 5px 0px 0px 0px; /* Значения отступов */
 }
 h2 {
  color: #800040; /* Цвет текста */
  margin-top: 0; /* Отступ сверху */
 }
 #container {
  background: #292929;
 }
 #header {
  font-size: 3.2em; /* Размер текста */
  text-align: center; /* Выравнивание по центру */
  padding: 5px; /* Отступы вокруг текста */
  background: #808080; /* Цвет фона шапки */
  color: #ffe; /* Цвет текста */
 }
 #sidebar {
  margin-top: 10px; 
  width: 20%; /* Ширина слоя */
  padding: 0 15px; /* Отступы вокруг текста */
  float: left; /* Обтекание по правому краю */
  color: white;
 }
 #content {
  margin-left: 25%; /* Значения отступов */
  width: 55%; /* Ширина слоя */
  padding: 100px; /* Отступы вокруг текста */
  background: #0d0d0d; /* Цвет фона правой колонки */
 }
 #footer {
  background: #808080; /* Цвет фона подвала */
  color: #fff; /* Цвет текста */
  padding: 10px; /* Отступы вокруг текста */
  clear: left; /* Отменяем действие float */
 }

 #btn{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  margin-left: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 30px;
}


#sort_btn {
    font-family: Hack, monospace;
    background: black;
    color: #FFFFFF;
    font-size: 1em;
    padding: 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;

    &::after {
        content: "\f2f6";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 80%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);

    }

    &:hover {
        background: #2b2bff;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        color: #ffffff;

        &::after {
            opacity: 1;
            transition: all 0.5s;
            color: #ffffff;

        }
    }


}